:host {
  display: flex;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2rem;
    gap: 1rem;
    width: 100%;
    max-width: 400px;

    input,
    button {
      padding: 0.5rem;
    }
  }
}
