$font-small: 8px;
$font-normal: 12px;
$font-large: 16px;
$font-extra-large: 24px;

.font-small {
  font-size: 8px;
}

.font-normal {
  font-size: 12px;
}

.font-large {
  font-size: 16px;
}

.font-extra-large {
  font-size: 24px;
}